.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 12px 24px;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.navbar-title:hover{
  color:rgb(116, 183, 255);
}

.navbar-buttons {
  display: flex;
  gap: 12px; /* spațiu între butoane */
}

.navbar-button,
.navbar-statistics {
  padding: 8px 16px;
  background-color: #7b9abc;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.navbar-button:hover,
.navbar-statistics:hover {
  background-color: #b3bcc6;
}
